[submodule "CppTransport/thirdparty/jsoncpp"]
	path = CppTransport/thirdparty/jsoncpp
	url = https://ds283@github.com/open-source-parsers/jsoncpp.git
[submodule "CppTransport/thirdparty/splinter"]
	path = CppTransport/thirdparty/splinter
	url = https://ds283@github.com/bgrimstad/splinter.git
